.add_btn{
    text-align: right;
}

.container{
    overflow: auto;
}

.left_view h3{
    font-size:  21px;
}

.left_view p{
    font-weight: 600;
}

.left_view span{
    font-weight: 400;
}

.right_view p{
    font-weight: 600;
}

.right_view span{
    font-weight: 400;
}

.navbar-brand{
    font-weight: 600;
}

.nav-item{
    margin-left: 405px;
    color: white;
}

.navbar-brand{
    margin-bottom: 8px;
    color: white;
    font-weight: 600;
    font-size: xx-large
}
.avbar-toggler{
    color: white;
}

.alert{
    text-align: center;
}

.table-dark-action{
    text-align: center;
}